<!DOCTYPE html>
<html>
<head>
    <title>Hello Students!</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

  <div class="main">
    <div class="content">
      {{{body}}}
    </div>
  </div>

</body>
</html>